<h1>Home Page</h1>

<% unless current_user %>
  <div class="facebook-div">
    <%= fa_icon "facebook-square", class: "facebook-icon" %>
    <%= link_to "Contunue with facebook" , user_facebook_omniauth_authorize_path, id: "facebook" %>
  </div>
<% else %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% end %>
