 @import "~bootstrap/scss/bootstrap";
 @import "@fortawesome/fontawesome-free";

 * {
  font-family: Circular,Helvetica Neue,Helvetica,Arial,sans-serif;
  letter-spacing: 2px;

 }

 .btn {
   border-radius: 500px!important;
 }

.facebook-div {
  border: 1px solid #3b5998;
  padding: 12px 30px;
  background-color: #3b5998;
  color: white;
  border-radius: 500px;
  border-width: 0;
  max-width: 420px;
  text-transform: uppercase;
  white-space: normal;
  margin: 28px auto;
}

.facebook-icon {
  font-size: 22px;
}

#facebook {
  text-decoration: none;
  color: white;
}

.facebook-div a {
  padding-left: 4px;
}

.facebook-icon {
  font-size: 24px!important;
}

.login-container {
  text-align: center;
  margin: auto;
}

.field {
  max-width: 420px;
  margin: 20px auto;
}

.row {
  width: 420px;
  margin: auto;
}

.nav-link {
  color: white!important;
  float: right!important;
  font-size: 13px;
}

.navbar-brand {
  color: white!important;
}

.collapse {
  float: right!important;
}

.profile-img {
  border-radius: 500px;
  height: 30px;
}

.bootstrap-img {
  height: 36px;
}
